.Background {
  position: relative;

  height: 100%;

  -user-select       : none;
  -webkit-user-select: none;
  -moz-user-select   : none;
  -ms-user-select    : none;
}

.Background__item {
  width  : 100%;
  height : 100%;
  display: block;

  opacity   : 0;
  transition: 0.6s ease-out;
  transition: 0.6s cubic-bezier(0.215, 0.610, 0.355, 1);
}

.Background--visible .Background__item {
  opacity: 1;
}

.Background--fixed {
  position: fixed;
  top     : 0;
  left    : 0;
  right   : 0;
  bottom  : 0;
}

.Background__show {
  position: absolute;
  left    : 0;
  right   : 0;
  top     : 0;
  bottom  : 0;

  opacity         : 0;
  background-color: var(--bg_color);

  transition: 0.3s ease-in-out;
}

.Background__show--hidden {
  opacity: 1;
}

.Background__svg {
  position: relative;
  height  : 100%;
  width   : 100%;
}