.AccordionContent {
  position  : relative;
  width     : 100%;
  overflow  : hidden;
  color     : var(--text_secondary);
  box-sizing: border-box;
}

.AccordionContent--anim {
  transition: 0.2s;
}

.AccordionContent__content {
  display: block;
}

.AccordionContent__height--inherit {
  height: inherit;
}