.FixedLayout {
  position  : sticky;
  z-index   : 3;
  margin-top: auto;
}

.FixedLayout__position--top {
  top: 0;
}

.FixedLayout__position--bottom {
  bottom: 0;
}

/* Background */

.FixedLayout__background--section_bg_color {
  background-color: var(--section_bg_color);
}

.FixedLayout__background--white {
  background-color: white;
}

/* safe */
.FixedLayout__position--top.FixedLayout--safe {
  padding-top: var(--safe-area-inset-top);
}

.FixedLayout__position--bottom.FixedLayout--safe {
  padding-bottom: var(--safe-area-inset-bottom);
}