.FixedLayout {
  position: sticky;
}

.FixedLayout__position--top {
  top: 0;
}

.FixedLayout__position--bottom {
  bottom: 0;
}

/* Background */

.FixedLayout__background--section_bg_color {
  background-color: var(--section_bg_color);
}