.Message {
  position  : relative;
  padding   : 2px 4px;
  box-sizing: border-box;
}

.Message__in {
  position   : relative;
  white-space: pre-wrap;
  word-break : break-word;


  max-width: 80%;
  overflow : hidden;

  border-radius: 13px;


  font-size  : var(--message_font_size);
  line-height: var(--message_line_height);
  z-index    : 1;
}

.Message__text {
  position: relative;
  z-index : 2;
  padding : 5px 8px 6px 8px;
}

.Message__type--forward .Message__text {
  padding: 10px 10px 6px 10px;
}

.Message__time {
  float: right;

  padding-left: 7px;

  transform: translateY(7px);

  -user-select       : none;
  -webkit-user-select: none;
  /* Chrome/Safari */
  -moz-user-select   : none;
  /* Firefox */
  -ms-user-select    : none;
  /* IE10+ */

}

.Message__time_text {
  font-size  : calc(var(--message_font_size) - 4px);
  line-height: calc(var(--message_line_height) - 4px);
  opacity    : 0.6;
}

.Message__time_badge {
  width : calc(var(--message_font_size) - 2px);
  height: calc(var(--message_font_size) - 2px);
}

.Message--only_attach .Message__text {
  padding: 0px;
}

.Message--only_attach .Message__time {
  float   : unset;
  position: absolute;
  right   : 8px;
  bottom  : 8px;

  padding-left: 0px;

  transform       : translateY(0px);
  padding         : 2px 6px;
  border-radius   : 13px;
  background-color: rgba(0, 0, 0, .2);
}

.Message__forward {

  overflow     : hidden;
  text-overflow: ellipsis;


  font-size  : calc(var(--message_font_size) - 2px);
  line-height: calc(var(--message_line_height) - 2px);


  margin-bottom: 6px;

  border-radius: 6px;
}


.Message__forward::after {
  position        : absolute;
  left            : 0;
  right           : 0;
  top             : 0;
  bottom          : 0;
  content         : " ";
  background-color: var(--accent_color);
  opacity         : 0.2;
}

.Message__forward_text {
  max-height        : calc(2 * (var(--message_line_height) - 2px));
  padding           : 2px 6px 2px 8px;
  display           : -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;

  z-index: 1;
}

.Message__forward_text::before {
  content: " ";

  position        : absolute;
  left            : 0;
  top             : 0;
  bottom          : 0;
  display         : block;
  height          : 100%;
  width           : 3px;
  background-color: var(--accent_color);
}


.Message--out .Message__forward::after {
  background-color: var(--accent_color--text);
}

.Message--out .Message__forward_text::before {
  background-color: var(--accent_color--text);
}

/* type */
.Message--in .Message__in {
  background-color: var(--section_bg_color);
  color           : var(--text_primary);
}

.Message--out .Message__in {
  background-color: var(--accent_color);
  color           : var(--accent_color--text);
}


/* .Message__end {
  width   : 12px;
  height  : 12px;
  position: absolute;
}

.Message--out .Message__end {
  color : var(--accent_color);
  right : 0px;
  bottom: 1px;
}

.Message--in .Message__end {
  color : var(--section_bg_color);
  left  : 0px;
  bottom: 1px;

  transform: scaleX(-1);
} */


/* images */
.Message__images {
  display   : grid;
  position  : relative;
  overflow  : hidden;
  height    : 100%;
  box-sizing: border-box;
  padding   : 1px;
  gap       : 2px;
}

.Message__image {
  overflow: hidden;
}

.Message__images .Message__image img {
  width     : 100%;
  height    : 100%;
  display   : block;
  object-fit: cover;
}

.Message__images--1 .Message__image {
  border-radius: 12px 12px 0px 0px;
  aspect-ratio : 1 / 1;
}

.Message__images--2 {
  min-height           : 20vh;
  height               : 25vh;
  grid-template-columns: 1fr 1fr;
}

.Message__images--3 {
  min-height           : 40vh;
  height               : 40vh;
  grid-template-columns: 1fr 2fr;
  grid-template-rows   : auto auto;
}

.Message__images--3 .Message__image:nth-child(1) {
  grid-column  : 1 / 2;
  grid-row     : 1 / 2;
  border-radius: 12px 0px 0px 0px;
}

.Message__images--3 .Message__image:nth-child(2) {
  grid-column  : 1 / 2;
  grid-row     : 2 / 3;
  border-radius: 0px 0px 0px 12px;
}

.Message__images--3 .Message__image:nth-child(3) {
  grid-column  : 2 / 3;
  grid-row     : 1 / 3;
  border-radius: 0px 12px 12px 0px;
}

/* out */

/* .Message--out:not(.Message--out + .Message--out):has(+ .Message--out) .Message__in {
  border-radius: 13px 13px 6px 13px;
}

.Message--out+.Message--out:has(+.Message--out) .Message__in {
  border-radius: 13px 6px 6px 13px;
}

.Message--out:not(:not(.Message--out+.Message--out):not(:has(~.Message--out):has(+.Message--out))):has(+.Message--in) .Message__in,
.Message--out:not(:not(.Message--out+.Message--out):not(:has(~.Message--out):has(+.Message--out))):has(+._system) .Message__in,
.Message--out:not(:not(.Message--out+.Message--out):not(:has(~.Message--out):has(+.Message--out))):last-child .Message__in {
  border-radius: 13px 6px 13px 13px;
} */

/* images */
/* .Message--out:not(.Message--out + .Message--out):has(+ .Message--out) .Message__images {
  border-radius: 13px 13px 0px 0px;
}

.Message--out+.Message--out:has(+.Message--out) .Message__in .Message__images {
  border-radius: 13px 6px 0px 0px;
}

.Message--out:not(:not(.Message--out+.Message--out):not(:has(~.Message--out):has(+.Message--out))):has(+.Message--in) .Message__images,
.Message--out:not(:not(.Message--out+.Message--out):not(:has(~.Message--out):has(+.Message--out))):has(+._system) .Message__images,
.Message--out:not(:not(.Message--out+.Message--out):not(:has(~.Message--out):has(+.Message--out))):last-child .Message__images {
  border-radius: 13px 6px 0px 0px;
} */

/* in */
/* .Message--in:not(.Message--in + .Message--in):has(+ .Message--in) .Message__in {
  border-radius: 13px 13px 13px 6px;
}

.Message--in+.Message--in:has(+.Message--in) .Message__in {
  border-radius: 6px 13px 13px 6px;
}

.Message--in:not(:not(.Message--in+.Message--in):not(:has(~.Message--in):has(+.Message--in))):has(+.Message--out) .Message__in,
.Message--in:not(:not(.Message--in+.Message--in):not(:has(~.Message--in):has(+.Message--in))):has(+._system) .Message__in,
.Message--in:not(:not(.Message--in+.Message--in):not(:has(~.Message--in):has(+.Message--in))):last-child .Message__in {
  border-radius: 6px 13px 13px 13px;
} */

/* images */
/* .Message--in:not(.Message--in + .Message--in):has(+ .Message--in) .Message__images {
  border-radius: 13px 13px 0px 0px;
}

.Message--in+.Message--in:has(+.Message--in) .Message__images {
  border-radius: 6px 13px 0px 0px;
}

.Message--in:not(:not(.Message--in+.Message--in):not(:has(~.Message--in):has(+.Message--in))):has(+.Message--out) .Message__images,
.Message--in:not(:not(.Message--in+.Message--in):not(:has(~.Message--in):has(+.Message--in))):has(+._system) .Message__images,
.Message--in:not(:not(.Message--in+.Message--in):not(:has(~.Message--in):has(+.Message--in))):last-child .Message__images {
  border-radius: 6px 13px 0px 0px;
} */