.Message {
  position  : relative;
  padding   : 4px;
  box-sizing: border-box;

  --text_font_size  : 14px;
  --text_line_height: 18px;
}

.Message__in {

  padding: 4px 10px;


  max-width: 80%;
  overflow : hidden;

  border-radius: 13px;


  font-size  : var(--text_font_size);
  line-height: var(--text_line_height);
  z-index    : 1;
}

.Message__type--forward .Message__in {
  padding: 10px 10px 6px 10px;
}

.Message__time {
  float: right;

  margin-top  : 4px;
  padding-left: 4px;

  -user-select       : none;
  -webkit-user-select: none;
  /* Chrome/Safari */
  -moz-user-select   : none;
  /* Firefox */
  -ms-user-select    : none;
  /* IE10+ */

}

.Message__time_text {
  font-size  : calc(var(--text_font_size) - 4px);
  line-height: calc(var(--text_line_height) - 4px);
  opacity    : 0.6;
}

.Message__time_badge {
  width : calc(var(--text_font_size) - 2px);
  height: calc(var(--text_font_size) - 2px);
}

.Message__forward {

  overflow     : hidden;
  text-overflow: ellipsis;


  font-size  : calc(var(--text_font_size) - 2px);
  line-height: calc(var(--text_line_height) - 2px);


  margin-bottom: 6px;

  border-radius: 6px;
}


.Message__forward::after {
  position        : absolute;
  left            : 0;
  right           : 0;
  top             : 0;
  bottom          : 0;
  content         : " ";
  background-color: var(--accent_color);
  opacity         : 0.2;
}

.Message__forward_text {
  max-height        : calc(2 * (var(--text_line_height) - 2px));
  padding           : 2px 6px;
  display           : -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;

  z-index: 1;
}

.Message__forward_separator {
  display: block;

  width     : 3px;
  min-width : 3px;
  height    : 100%;
  min-height: calc(2 * var(--text_line_height));

  background-color: var(--accent_color);
}

/* type */
.Message--in .Message__in {
  background-color: var(--section_bg_color);
  color           : var(--text_primary);
}

.Message--out .Message__in {
  background-color: var(--accent_color);
  color           : var(--text_primary);
}


.Message__end {
  width   : 14px;
  height  : 14px;
  position: absolute;
}

.Message--out .Message__end {
  color : var(--accent_color);
  right : -1px;
  bottom: -1px;
}

.Message--in .Message__end {
  color : var(--section_bg_color);
  left  : -1px;
  bottom: -1px;

  transform: scaleX(-1);
}