.CheckBox {
  box-sizing: border-box;
  padding   : 10px;
}

.CheckBox._active::after,
.CheckBox:checked._active::after {
  opacity: 0.12;
}

.CheckBox._hover::after,
.CheckBox:checked._hover::after {
  opacity: 0.08;
}


.CheckBox._hover::after {
  background-color: var(--radio_color-active);
}

.CheckBox._active::after {
  background-color: var(--radio_color-hover);
}

.CheckBox:checked._hover::after {
  background-color: var(--radio_color-hover);
}

.CheckBox:checked._active::after {
  background-color: var(--radio_color-active);
}

.CheckBox__input {
  width        : 20px;
  height       : 20px;
  border-radius: 4px;
  border       : solid 2px var(--radio_color);
}

.CheckBox__icon {
  margin: 2px;
}

.CheckBox__input:checked~.CheckBox__icon {
  opacity: 1;
}

.CheckBox__input:checked {
  border          : solid 2px var(--radio_color--selected);
  background-color: var(--radio_color--selected);
}

.CheckBox__input:disabled {
  border          : solid 2px var(--radio_color--disabled);
  background-color: var(--radio_color--disabled);
}