.CheckBox {
  padding: 2px;
}

.CheckBox__input {
  width        : 20px;
  height       : 20px;
  border-radius: 6px;
  border       : solid 2px var(--radio_color);
}

.CheckBox__icon {
  margin: 2px;
}

.CheckBox__input:checked~.CheckBox__icon {
  opacity: 1;
}

.CheckBox__input:checked {
  border          : solid 2px var(--radio_color--selected);
  background-color: var(--radio_color--selected);
}

.CheckBox__input:disabled {
  border          : solid 2px var(--radio_color--disabled);
  background-color: var(--radio_color--disabled);
}