.Radio {
  box-sizing: border-box;
}

.Radio::after {
  left  : -10px;
  right : -10px;
  bottom: -10px;
  top   : -10px;
}

.Radio._active::after,
.Radio:checked._active::after {
  opacity: 0.12;
}

.Radio._hover::after,
.Radio:checked._hover::after {
  opacity: 0.08;
}


.Radio._hover::after {
  background-color: var(--radio_color-active);
}

.Radio._active::after {
  background-color: var(--radio_color-hover);
}

.Radio:checked._hover::after {
  background-color: var(--radio_color-hover);
}

.Radio:checked._active::after {
  background-color: var(--radio_color-active);
}

.Radio__input {
  width        : 20px;
  height       : 20px;
  border-radius: 20px;
  border       : solid 2px var(--radio_color);
}

.Radio__circle {
  border-radius: 20px;
  margin       : 5px;
}

.Radio__input:checked {
  border: solid 2px var(--radio_color--selected);
}

.Radio__input:disabled {
  border: solid 2px var(--radio_color--disabled);
}

.Radio__input:checked~.Radio__circle {
  background-color: var(--radio_color--selected);
}

.Radio__input:disabled~.Radio__circle {
  background-color: var(--radio_color--disabled);
}