.Overlay {
  position: absolute;
  left    : 0;
  right   : 0;
  top     : 0;
  bottom  : 0;

  border-radius: inherit;
  overflow     : hidden;

  color: var(--secondary_color--text);

  padding   : 8px;
  box-sizing: border-box;
}

.Overlay::before {
  position: absolute;
  left    : 0px;
  right   : 0px;
  top     : 0px;
  bottom  : 0px;
  content : " ";
}

/* .Overlay::before {
  background: var(--bg_color);
  opacity   : 0.9;
} */

/* .Overlay::after {
  background-color: var(--bg_color);
  opacity         : 0.5;
} */