/* default colors */
:root {
  --message_font_size  : 14px;
  --message_line_height: 18px;

  --safe-area-inset-bottom: 0px;

  --text_primary       : #ffffff;
  --text_secondary     : #858585;
  --separator_primary  : #5B5E65;
  --separator_secondary: #3B3B3D;
  --bg_selected        : #1d2936;
  --bg_color           : #000000;
  --modal_bg_color     : #151515;

  --section_bg_color        : #1C1C1C;
  --section_bg_color--active: #333333;

  --bg_layout_shadow: #000000;

  --bg_input: #000000;

  --min_height_input: 38px;

  --link_color: #5470C3;

  --primary_color      : #FFFFFF;
  --primary_color--text: #000000;
  --accent_color       : #5470C3;
  --accent_color--text : #FFFFFF;
  --red_color          : #E2423A;
  --red_color--text    : #FFFFFF;

  --secondary_color      : #333333;
  --secondary_color--text: #ffffff;

  --green_color      : #0cb800;
  --green_color--text: #FFFFFF;

  --opacity_merges : 0.34;
  --opacity_disable: 0.64;

  --cell--hover : #424a52;
  --cell--active: #454545;
  --cell--select: #0D0E0F;

  --radio_color          : #AEAEB2;
  --radio_color--disabled: #8E8E93;
  --radio_color--selected: #007AFF;
  --radio_color-hover    : #007AFF;
  --radio_color-active   : #000000;
}

html[theme="light"] {
  --text_primary       : #000000;
  --text_secondary     : #7a7a7a;
  --separator_primary  : #a4a19a;
  --separator_secondary: #d3d3d3;
  --bg_selected        : #e2d6c9;
  --bg_color           : #eeedf3;
  --modal_bg_color     : #ffffff;

  --section_bg_color        : #fefefe;
  --section_bg_color--active: #c5c5c5;

  --bg_layout_shadow: #ffffff;

  --bg_input: #e3e3e3;

  --link_color: #5470C3;

  --primary_color      : #000000;
  --primary_color--text: #ffffff;
  --accent_color       : #5470C3;
  --accent_color--text : #FFFFFF;
  --red_color          : #E2423A;
  --red_color--text    : #FFFFFF;

  --secondary_color      : #eeeeee;
  --secondary_color--text: #000000;

  --green_color      : #0cb800;
  --green_color--text: #FFFFFF;

  --opacity_merges : 0.34;
  --opacity_disable: 0.64;

  --cell--hover : #bdb5ad;
  --cell--active: #bababa;
  --cell--select: #f2f1f0;

  --radio_color          : #51514d;
  --radio_color--disabled: #71716c;
  --radio_color--selected: #007AFF;
  --radio_color-hover    : #007AFF;
  --radio_color-active   : #ffffff;
}

html[theme="light"][theme-color="pink"] {
  /* --text_primary       : #000000;
  --text_secondary     : #666666; */
  --text_secondary     : #e580b3;
  --separator_primary  : #ff98d4;
  --separator_secondary: #ffcdea;
  --bg_selected        : #F8D8E8;
  --bg_color           : #ffe7f5;
  --modal_bg_color     : #ffe7f5;

  --section_bg_color        : #ffdbf0;
  --section_bg_color--active: #E0E0E0;

  --bg_input: #ffc4e6;

  --link_color: #d5107f;

  /* --primary_color      : #000000;
  --primary_color--text: #FFFFFF; */
  --accent_color          : #d5107f;
  --accent_color--text    : #FFFFFF;
  /* --red_color          : #FF4136;
  --red_color--text       : #FFFFFF; */

  --secondary_color      : #fdc4e5;
  --secondary_color--text: #ffffff;

  /* --green_color      : #2ECC40;
  --green_color--text: #FFFFFF; */

  --opacity_merges : 0.54;
  --opacity_disable: 0.74;

  --cell--hover : #ffd2ec;
  --cell--active: #fdc4e5;
  --cell--select: #ffb6e1;

  /* --radio_color          : #888888;
  --radio_color--disabled: #CCCCCC;
  --radio_color--selected: #d5107f;
  --radio_color-hover    : #bb0d6b;
  --radio_color-active   : #be0065; */
}

html[theme="dark"][theme-color="pink"] {
  /* --text_primary       : #000000;
  --text_secondary     : #666666; */
  --bg_color           : #100108;
  --text_secondary     : #a2587d;
  --separator_primary  : #ff98d4;
  --separator_secondary: #410024;

  --section_bg_color        : #1e0011;
  --section_bg_color--active: #2b0019;

  --bg_input: #0c0007;

  --link_color: #d5107f;

  /* --primary_color      : #000000;
  --primary_color--text: #FFFFFF; */
  --accent_color          : #d5107f;
  --accent_color--text    : #FFFFFF;
  /* --red_color          : #FF4136;
  --red_color--text       : #FFFFFF; */

  --secondary_color      : #370020;
  --secondary_color--text: #ffffff;

  /* --green_color      : #2ECC40;
  --green_color--text: #FFFFFF; */

  --opacity_merges : 0.54;
  --opacity_disable: 0.74;

  --cell--hover : #30001c;
  --cell--active: #420026;
  --cell--select: #4f002e;

  /* --radio_color          : #888888;
  --radio_color--disabled: #CCCCCC;
  --radio_color--selected: #d5107f;
  --radio_color-hover    : #bb0d6b;
  --radio_color-active   : #be0065; */
}

html[theme="light"][theme-color="mint"] {
  --text_primary       : #333333;
  --text_secondary     : #528B8B;
  --separator_primary  : #A7E3D2;
  --separator_secondary: #D4F1EA;
  --bg_selected        : #EAF9F4;
  --bg_color           : #F4FCFA;
  --modal_bg_color     : #F4FCFA;

  --section_bg_color        : #E0F2EF;
  --section_bg_color--active: #D0E8E3;

  --bg_input: #C8EEDF;

  --link_color: #3CB371;
  /* Sea Green */

  --accent_color      : #3CB371;
  --accent_color--text: #FFFFFF;

  --secondary_color      : #BFE2D6;
  --secondary_color--text: #ffffff;

  --opacity_merges : 0.54;
  --opacity_disable: 0.74;

  --cell--hover : #D7F0E8;
  --cell--active: #BFE2D6;
  --cell--select: #A7D5C5;

}

html[theme="dark"][theme-color="mint"] {
  --text_primary       : #EEEEEE;
  --text_secondary     : #748e8e;
  --separator_primary  : #528B8B;
  /* Dark Cyan */
  --separator_secondary: #36454F;
  /* Charcoal */

  --section_bg_color        : #2E4A46;
  --section_bg_color--active: #3B5955;

  --bg_input: #1E3330;

  --link_color: #66CDAA;
  /* Medium Aquamarine */

  --accent_color      : #66CDAA;
  --accent_color--text: #FFFFFF;
  /* Black for better contrast */

  --secondary_color      : #456965;
  --secondary_color--text: #ffffff;

  --opacity_merges : 0.54;
  --opacity_disable: 0.74;

  --cell--hover : #385551;
  --cell--active: #4A706A;
  --cell--select: #5C8680;
}

html[theme="light"][theme-color="earthen"] {
  --text_primary       : #333333;
  --text_secondary     : #997053;
  --separator_primary  : #A0522D;
  /* Sienna */
  --separator_secondary: #DEB887;
  /* BurlyWood */
  --bg_selected        : #F5DEB3;
  /* Wheat */
  --bg_color           : #FAF0E6;
  /* Linen */
  --modal_bg_color     : #FAF0E6;

  --section_bg_color        : #FAEBD7;
  /* AntiqueWhite */
  --section_bg_color--active: #E9DABB;

  --bg_input: #D2B48C;
  /* Tan */

  --link_color: #8B4513;
  /* SaddleBrown */

  --accent_color      : #8B4513;
  --accent_color--text: #FFFFFF;

  --secondary_color      : #CD853F;
  /* Peru */
  --secondary_color--text: #ffffff;

  --opacity_merges : 0.54;
  --opacity_disable: 0.74;

  --cell--hover : #E2C4A4;
  --cell--active: #CD853F;
  --cell--select: #B8860B;
  /* DarkKhaki */
}

html[theme="dark"][theme-color="earthen"] {
  --bg_color           : #1f1711;
  --text_primary       : #EEEEEE;
  --text_secondary     : #997053;
  --separator_primary  : #8B4513;
  /* SaddleBrown */
  --separator_secondary: #654321;
  /* DarkBrown */

  --section_bg_color        : #4A341E;
  /* DarkBrown */
  --section_bg_color--active: #5C4033;

  --bg_input: #3B2A17;

  --link_color: #cabe55;
  /* Khaki */

  --accent_color      : #cabe55;
  --accent_color--text: #FFFFFF;

  --secondary_color      : #6B4513;
  /* SaddleBrown */
  --secondary_color--text: #ffffff;

  --opacity_merges : 0.54;
  --opacity_disable: 0.74;

  --cell--hover : #42321C;
  --cell--active: #543820;
  --cell--select: #6B4513;
  /* SaddleBrown */
}

html[platform="macOS"] {
  --font_size--x-small  : 10px;
  --font_height--x-small: 14px;

  --font_size--small  : 13px;
  --font_height--small: 17px;

  --font_size--medium  : 14px;
  --font_height--medium: 18px;

  --font_size--large  : 16px;
  --font_height--large: 20px;

  --font_size--x-large  : 18px;
  --font_height--x-large: 22px;

  --font_size--xx-large  : 20px;
  --font_height--xx-large: 24px;
}

html[platform="iOS"] {
  --font_size--x-small  : 10px;
  --font_height--x-small: 14px;

  --font_size--small  : 13px;
  --font_height--small: 17px;

  --font_size--medium  : 14px;
  --font_height--medium: 18px;

  --font_size--large  : 16px;
  --font_height--large: 20px;

  --font_size--x-large  : 18px;
  --font_height--x-large: 22px;

  --font_size--xx-large  : 20px;
  --font_height--xx-large: 24px;
}

html[platform="android"] {
  --font_size--x-small  : 10px;
  --font_height--x-small: 14px;

  --font_size--small  : 14px;
  --font_height--small: 18px;

  --font_size--medium  : 16px;
  --font_height--medium: 20px;

  --font_size--large  : 18px;
  --font_height--large: 22px;

  --font_size--x-large  : 20px;
  --font_height--x-large: 24px;

  --font_size--xx-large  : 22px;
  --font_height--xx-large: 26px;
}