.UserName {
  position: relative;
}

@keyframes _pulse-opacity-light {
  25% {
    opacity: 1;
  }

  50% {
    opacity: .25;
  }

  75% {
    opacity: 1;
  }
}

.UserName {
  gap: 4px;
}

.UserName--spoiler__first {
  position        : relative;
  display         : block;
  width           : 13vw;
  min-height      : var(--font_height--medium);
  background-color: var(--secondary_color);
  border-radius   : 6px;
  opacity         : 0.3;
}

.UserName--spoiler__last {
  position        : relative;
  display         : block;
  width           : 25vw;
  min-height      : var(--font_height--medium);
  background-color: var(--secondary_color);
  border-radius   : 6px;
  opacity         : 0.3;
}

.UserName--spoiler__first::after,
.UserName--spoiler__last::after {
  content            : " ";
  position           : absolute;
  left               : 0;
  right              : 0;
  top                : 0;
  bottom             : 0;
  background-image   : url(/spoiler-dots-white.png);
  background-size    : auto min(100%, 1.125rem);
  border-radius      : .5rem;
  /* animation       : _pulse-opacity-light 1.75s linear infinite; */
}