.IconTask__color {
  width        : 48px;
  height       : 48px;
  border-radius: 13px;
  overflow     : hidden;
}

.IconTask__background--color_1 {
  background-color: #FF6347;
  color           : white;
}

.IconTask__background--color_2 {
  background-color: #FFA500;
  color           : white;
}

.IconTask__background--color_3 {
  background-color: #eded02;
  color           : white;
}

.IconTask__background--color_4 {
  background-color: #9ACD32;
  color           : white;
}

.IconTask__background--color_5 {
  background-color: #d98bee;
  color           : white;
}

.IconTask__background--color_6 {
  background-color: #9ACD32;
  color           : white;
}

.IconTask__background--color_7 {
  background-color: #00FFFF;
  color           : white;
}

.IconTask__background--color_8 {
  background-color: #4169E1;
  color           : white;
}

.IconTask__background--color_9 {
  background-color: #8B4513;
  color           : white;
}

.IconTask__background--color_10 {
  background-color: #A52A2A;
  color           : white;
}

.IconTask__background--color_11 {
  background-color: #D2691E;
  color           : white;
}

.IconTask__background--color_12 {
  background-color: #DC143C;
  color           : white;
}

.IconTask__background--color_13 {
  background-color: #FA8072;
  color           : white;
}

.IconTask__background--color_14 {
  background-color: #F08080;
  color           : white;
}

.IconTask__background--color_15 {
  background-color: #CD5C5C;
  color           : white;
}

.IconTask__background--color_16 {
  background-color: #FFC0CB;
  color           : white;
}

.IconTask__background--color_17 {
  background-color: #C71585;
  color           : white;
}

.IconTask__background--color_18 {
  background-color: #DA70D6;
  color           : white;
}

.IconTask__background--color_19 {
  background-color: #D8BFD8;
  color           : white;
}

.IconTask__background--color_20 {
  background-color: #EE82EE;
  color           : white;
}

.IconTask__background--color_21 {
  background-color: #4B0082;
  color           : white;
}

.IconTask__background--color_22 {
  background-color: #6A5ACD;
  color           : white;
}